.sortable {
    position: relative;
    padding-right: 20px;
}

.sortable:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

.sortable::after {
    position: absolute;
    right: 5px;
    width: 0;
    height: 0;
}

.sortable.asc::after {
    content: '';
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid black;
    top: 10px;
}

.sortable.desc::after {
    content: '';
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid black;
    top: 14px;
}
